#page-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: var(--color-text-in-primary);
    background-color: var(--color-primary);
}

.logo-container img {
    height: 10rem;
}

.hero-image {
    width: 100%;
}

.logo-container {
    margin-bottom: 3.2rem;
    text-align: center;
}

.logo-container h2 {
    margin-top: .8rem;
    font-size: 2.4rem;
    line-height: 4.6rem;
    font-weight: 500;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2%;
    width: 100%;
    max-width: 30rem;
    height: 10.4rem;
    font: 700 2rem Archivo;
    text-decoration: none;
    color: var(--color-button-text);
    border-radius: .8rem;
    transition: background-color .2s;
}

.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a img {
    margin-right: 2.4rem;
}

.buttons-container a.study {
    background-color: var(--color-primary-lighter);
}

.buttons-container a.give-classes {
    background-color: var(--color-secondary);
}

.buttons-container a.study:hover {
    background-color: var(--color-primary-light);
}

.buttons-container a.give-classes:hover {
    background-color: var(--color-secondary-dark);
}

.total-connections {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.total-connections img {
    margin-left: .8rem;
}

@media (min-width: 1100px) {
    #page-landing-content {
        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas:
            "logo hero hero"
            "buttons buttons total";
        max-width: 1100px;
    }

    .logo-container {
        grid-area: logo;
        align-self: center;
        margin: 0;
        text-align: left;
    }

    .logo-container h2 {
        font-size: 3.6rem;
        text-align: initial;
    }

    .logo-container img {
        height: 100%;
    }

    .hero-image {
        grid-area: hero;
        justify-self: end;
        height: 100%;
    }

    .buttons-container {
        grid-area: buttons;
        justify-content: flex-start;
    }

    .buttons-container a {
        font-size: 2.4rem;
    }

    .total-connections {
        grid-area: total;
        justify-self: end;
    }
}